@import "tailwindcss";

@font-face {
  font-family: Gta1;
  src: url("./fonts/font1.woff") format("woff");
}

@font-face {
  font-family: Gta2;
  src: url("./fonts/font2.woff") format("woff");
}

@font-face {
  font-family: Gta3;
  src: url("./fonts/font3.woff") format("woff");
}

@theme {
  --font-gta1: Gta1, "sans-serif";
  --font-gta2: Gta2, "sans-serif";
  --font-gta3: Gta3, "sans-serif";
}

::selection {
  background: #ffb0c4;
  color: #36364e;
}